.home-failuar-container {
  width: 95%;
  height: 300px;
  background-color: #040306;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.failuar-text {
  font-family: HK Grotesk;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.failuar-img {
  width: 48px;
  height: 48px;
}

.failuar-button {
  width: 95px;
  height: 32px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 426px) {
  .home-failuar-container {
    height: 500px;
  }
}
