.home-loading-container {
  width: 95%;
  height: 300px;
  background-color: #040306;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 426px) {
  .home-loading-container {
    height: 500px;
  }
}
